/* 
********
IMPORTS
********
*/

/* #region */

@import 'components/comp-divider-leftrightlines.css';
@import 'components/comp-button.css';
@import 'components/comp-socialicon.css';

/* #endregion */

/* 
********
VARIABLES
********
*/

/* #region */

:root {
    --ms_bg-header: #2c3e50;
    --ms_bg-primary: #1abc9c;
    --ms_bg-secondary: #ffffff;
    --ms_bg-footer-top: #3a546d;
    --ms_text-primary: #ffffff;
    --ms_text-secondary: #333333;
}

/* #endregion */

/* 
********
TYPOGRAPHY
********
*/

/* #region */

.ms_text-primary {
    color: var(--ms_text-primary);
}

.ms_text-secondary {
    color: var(--ms_text-secondary)
}

/* #endregion */

/* 
********
COMMON
********
*/

/* #region */

.ms_btn-primary {
    background-color: var(--ms_bg-primary);
    border: 1px solid var(--ms_text-primary);
    color: var(--ms_text-primary);
}

/* .ms_leftrightlines-bg {

} */

/* #endregion */

/* 
********
HEADER
********
*/

/* #region */

header {
    background-color: var(--ms_bg-header);
}

/* #endregion */


/* 
********
MAIN
********
*/

/* #region */

section:nth-of-type(odd) {
    background-color: var(--ms_bg-primary);
}

section:nth-of-type(even) {
    background-color: var(--ms_bg-secondary);
}

#jumbo .leftrightlines,
#about .leftrightlines {
    --ms_leftrightlines-bg: #ffffff;
}

#portfolio .leftrightlines,
#contact .leftrightlines {
    --ms_leftrightlines-bg: #2c3e50;
}

#contact .ms_textarea {
    height: unset;
}

/* #endregion */


/* 
********
FOOTER
********
*/

/* #region */

.ms_footer-top {
    background-color: var(--ms_bg-footer-top);
}

.ms_footer-bottom {
    background-color: var(--ms_bg-header);
}

footer .ms_footer-top a {
    color: var(--ms_bg-primary);
    text-decoration: none;
}

footer .ms_footer-top a:hover {
    color: var(--ms_text-primary);
    text-decoration: underline;
}

footer .ms_social-icon {
    --ms_socialicon: #ffffff;
}

/* #endregion */