.leftrightlines {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.leftrightlines::before,
.leftrightlines::after {
    content: '';
    display: block;
    height: 4px;
    width: 10vw;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    background-color: currentColor;
}

.leftrightlines::before {
    right: 50%;
    transform: translatex(-3vw);
}

.leftrightlines::after {
    left: 50%;
    transform: translatex(3vw);
}

